<div class="flex flex-col w-full items-center justify-center">
  <h2 class="md:text-4xl font-extrabold text-color-text text-xl">Welcome to BlogApp.</h2>
  <div>
    <%= render "devise/shared/links" %>
  </div>
  <div class="w-full">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-full"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "w-full rounded-lg" %>
      </div>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :bio %><br />
        <%= f.text_field :bio, class: "w-full rounded-lg" %>
      </div>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :photo %><br />
        <%= f.text_field :photo, placeholder: "Link to your photo", class: "w-full rounded-lg" %>
      </div>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-lg" %>
      </div>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-lg" %>
      </div>
      <div class="field w-4/5 mx-auto md:w-1/3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-lg" %>
      </div>
      <div class="actions mt-5 w-4/5 mx-auto md:w-1/3">
        <%= f.submit "Sign up", class: "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 dark:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
    <% end %>
  </div>
</div>

