<!-- app/views/posts/show.html.erb -->
<div class="flex-col">
  <div id="post" class="border-solid border-4 border-black md:w-1/2 mx-auto w-full mb-5">
    <div class="flex justify-between">
      <div>
        <h2 class="font-bold ml-3"><%= @post.title %><span class="font-normal"> by <%= @user.name %></span></h2>
      </div>

      <div class="mr-5">
        <p>Comments: <span class="font-bold"><%= @post.comments_counter%>, </span>Likes: <span class="font-bold"><%= @post.likes_counter %></span></p>
      </div>
    </div>

    <div>
      <p class="mt-5 ml-3" ><%= @post.text %></p>
    </div>

    <div class="mb-5 mt-5 ml-3 flex gap-5">
      <a class="border-solid border-4 border-black cursor-pointer"><%= render partial: 'shared/add_like' %></a>
      <a href="/users/<%= @user.id %>/posts/<%= @post.id %>/comments/new" class="border-4 border-solid border-black"> New comment</a>
    </div>
  </div>

  <%= render partial: 'shared/comment', locals: {post: @post} %>
</div>